<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>welcome to quoting dojo!</h1>
    <form action="/quotes" method="post">
    Your name: <input type="text" name="name" placeholder="name"><br>
    Your Quote:<input type="text" name="quote" placeholder="quote"><br>
    <input type="submit" value="submit"><br>
    <button><a href="/quotes">skip to qoutes</a></button>
    </form>
</body>
</html>