<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>cars</h1>
    <img src="/images/car.jpg" alt="">
    <img src="/images/car1.jpg" alt="">
    <img src="/images/car2.jpg" alt="">
    <a href="/cats">cats</a>
    <a href="/users/1">asdf</a>
    <a href="/form">new car form</a>
</body>
</html>