<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
        <h1 class="jumbotron text-center bg-primary">Login Here</h1>
    <a href="/">HOME</a>
    @model UserLogin
        <form asp-action="Login" asp-controller="Home" method="post">

    <span asp-validation-for="email"></span>
    <label asp-for="email">email</label>
    <input asp-for="email"><br>
     <span asp-validation-for="password"></span>
    <label asp-for="password">password</label>
    <input asp-for="password"><br>
        <input value="Login" type="submit">
    </form>
</body>
</html>