<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/mongoose/update" method="post">
        <input type="hidden" name="id" value="<%=gooses[0]._id%>">
        Name: <input type="text" name="name"> <br>
        favorite food: <input type="text" name="food"> <br>
        <input type="submit" value="submit">
        </form>
</body>
</html>